@model IEnumerable<VehicleIndexViewModel>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.TypeOfVehicle)
			</th>
			<th>				
				License Number
			</th>
			<th>
				Check-in Time
			</th>
			<th>Options</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.TypeOfVehicle)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LicenseNumber)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.TimeOfRegistration)
				</td>

				<td>
					<a asp-action="Edit" asp-route-id="@item.VehicleId" class="btn px-2 py-0 my-0 btn-light">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.VehicleId" class="btn px-2 py-0 my-0 btn-light">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.VehicleId" class="btn px-2 py-0 my-0 btn-light">Check Out</a>
				</td>
			</tr>
		}
	</tbody>
</table>