@model Vehicle

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Vehicle</h1>

<a asp-action="Index" class="btn btn-outline-info mx-3">Back to List</a>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                @* <label asp-for="Type" class="control-label"></label> *@
              
@*                 <select class="form-control" name="type" asp-items="@Html.GetEnumSelectList<TypeOfVehicle>()">
                    <option selected="selected">@Model.Type</option>
                </select> *@
                @* <span asp-validation-for="Type" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
               
                <select class="form-control" name="color" asp-items="@Html.GetEnumSelectList<Color>()">
                    <option selected="selected">@Model.Color</option>
                </select>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleType.Wheels" class="control-label"></label>
                <input asp-for="VehicleType.Wheels" class="form-control" />
                <span asp-validation-for="VehicleType.Wheels" class="text-danger"></span>
            </div>
            <div class="form-group">

                @Html.DisplayNameFor(model => model.TimeOfRegistration)
                <div row class="unEditable">

                    @Html.DisplayFor(model => model.TimeOfRegistration)
                </div>
                

            </div>
            <div class="form-group">
                
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#delete">Save</button>

                <div class="container">
                    <div class="modal fade" id="delete" role="dialog">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Vehicle Updated!</h4>
                                </div>
                                <div class="modal-body">
                                    <input type="submit" class="btn btn-primary" asp-action="Index" asp-route-id="@Model.Id" value="Ok" />                                 
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Go Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    @* <a asp-action="Index">Back to List</a> *@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
