@model IEnumerable<Garage2._0_Group5.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Parked Cars</h1>

<p>
    <a asp-action="Create">Park New Vehicle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
               @*  @Html.DisplayNameFor(model => model.LicenseNumber) *@
               License Number
            </th>
            <th>
@*                 @Html.DisplayNameFor(model => model.TimeOfRegistration) *@
                Check-in Time

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenseNumber)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TimeOfRegistration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Remove from Garage</a>
            </td>
        </tr>
}
    </tbody>
</table>
