@model MemberDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicles)
        </dt>
        <dd class="col-sm-10">
            @foreach (var vehicle in Model.Vehicles)
            {
                <a asp-controller="Vehicles" asp-action="Details" asp-route-id ="@vehicle.LicenseNumber">@vehicle.LicenseNumber</a>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
