@model IEnumerable<MemberIndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Member Index</h1>
<p>

    <a class="btn btn-outline-info mx-3" asp-action="Create">Register New Member</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    <a asp-action="Edit" class="btn px-2 py-0 my-0 btn-light" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" class="btn px-2 py-0 my-0 btn-light" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" class="btn px-2 py-0 my-0 btn-light" asp-route-id="@item.Id">Delete</a> |
                    <a asp-controller="Vehicles" class="btn px-2 py-0 my-0 btn-light" asp-action="Create" asp-route-id="@item.Id">Add vehicle</a>

            </td>
        </tr>
}
    </tbody>
</table>
